{% extends 'base.html' %}

{% block content %}
<header>
  <h2>새 글 작성</h2>
</header>
<section>
  <form action="{% url 'anonymouses:article_create' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <p>{{ article_form.title }}</p>
      {{ article_form.media }}
      <p>{{ article_form.content | safe }}</p>
    </div>
    <input type="submit" value="등록" class="btn btn-dark">
    <hr>
  </form>
  <a href="{% url 'anonymouses:index' %}"><button class="btn btn-dark">뒤로 가기</button></a>
</section>
{% endblock content %}