{% extends 'base.html' %}

{% block css %}
<style>
p {
  margin-bottom: 0px;
  margin: 1px;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{% endblock css %}

{% block content %}
<header class="d-flex">
  <!--제목-->
  <div>
    <h4>{{ article.title }}</h4>
  </div>
  <div>
    <form class="like-form" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      {% if user in article.like_users.all %}
        <button id="like-{{ article.pk }}" class="likesbtn">
          <i class="bi bi-heart-fill likeicon"></i>
        </button>
      {% else %}
        <button id="like-{{ article.pk }}" class="likesbtn">
          <i class="bi bi-heart unlikeicon"></i>
        </button>
      {% endif %}
    </form>
  </div>
  <p class="text-end">
    조회수 : {{ article.view_cnt }} | 좋아요 : 
      <span id="like-count-{{ article.pk }}">
        {{ article.like_users.all|length}}
      </span>
  </p>
  <hr>
</header>
<section class="">
  <artticle class="card p-3 mb-3">
    <p class="text-end">작성자 : {{ article.user }} | 작성일 : {{ article.created_at }}</p>
    <!-- 글 내용 -->
    <div class="card-body" style="background-color: #fefae0;">
      <p>{{ article.content|safe }}</p>
    </div>
    <div class="m-2">
      {% for comment in comments %}
        {{ comment.content }}
      {% empty %}
        <p>아직 댓글이 없어요</p>
      {% endfor %}
      <div class="d-flex">
        {{ comment_form.content }}
        <form action="{% url 'anonymouses:comment_create' article.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="등록">
        </form>
      </div>
    </div>
  </artticle>
  <div class="justify-contetn-between">
    <div>
      <a href="{% url 'anonymouses:index' %}"><button class="btn btn-dark">뒤로 가기</button></a>
    </div>
    <div>
      <a href="{% url 'anonymouses:article_update' article.pk %}"><button class="btn btn-secondary">수정</button></a>
      <form action="{% url 'anonymouses:article_delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="삭제">
      </form>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %}
<script>
  const form = document.querySelector('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value 

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const { anonymousesId } = event.target.dataset

    axios({
      url : `/anonymouses/${anonymousesId}/like/`,
      method: 'post',
      headers: {'X-CSRFToken': csrftoken}
    })
    .then(response => {
      const { liked } = response.data
      const likeBtn = document.querySelector(`#like-${anonymousesId}`)

      // likeBtn.innerText = liked ? '좋아요 취소' : '좋아요'

      const likeCount = document.querySelector(`#like-count-${anonymousesId}`)
      likeCount.innerText = count
    })
    .catch(error => {
      if (error.response.status === 401) {
        window.location.href = '/accounts/signin/'
      }
    })
  })
</script>
{% endblock script %}